{% extends "base.html" %}

{% block title %}Group List{% endblock title%}

{% block content %}
<section class="p-5 bg-light">
    <h2>Group List</h2>
</section>
<div class="p-5">
    <h3 class="pb-2 border-bottom">{{ object_list.count }} groups</h3>
    {% if object_list %}
        <ul class="list-group">
            {% for group in object_list %}
                <li class="list-group-item">
                    <h4><a href="{{ group.get_absolute_url }}">{{ group.title }}</a></h4>
                    <span class="text-muted">{{ group.description }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No groups to display</p>
    {% endif %}
</div>
{% endblock content %}