{% extends "base.html" %}

{% block title %}My adverts{% endblock title%}

{% block content %}
<section class="px-5 pt-5 bg-light">
    <h2>Settings</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'settings:account_details' %}">Account details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'settings:notifications' %}">Notifications</a>
        </li>
    </ul>
</section>
<div class="p-5">
    <form method="POST">
        {% csrf_token %}
        <div class="pb-5">
            <h3 class="pb-2 border-bottom">Email subscriptions</h3>
            <div class="form-check form-switch">
                {{ form.event_switch }}
                <label class="form-check-label" for="event_switch">Event digest: Monthly update of posts in topics you have followed</label>
            </div>
            <div class="form-check form-switch">
                {{ form.group_switch }}
                <label class="form-check-label" for="group_switch">Group digest: Weekly review of posts in groups you have joined</label>
            </div>
        </div>
        <h3 class="pb-2 border-bottom">Site notifications</h3>
        <div class="form-check form-switch">
            {{ form.reply_switch }}
            <label class="form-check-label" for="reply_switch">Replies: Email notifications of replies to your posts</label>
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Save notification settings">
        </div>
        {% if messages %}
        <div>
            {% for message in messages %}
            <div>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock content %}